In [ ]:
conda install numexpr=2.8.4

In [4]:
import pandas as pd

In [10]:
df= pd.read_csv(r"C:\Users\TOMORI\Downloads\framingham.csv")

In [11]:
df.head(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,Male,39,post grad,No,0.0,No,No,No,No,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,Secondary Edu,No,0.0,No,No,No,No,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,Primary Edu,Yes,20.0,No,No,No,No,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,Tertiary Edu,Yes,30.0,No,No,Yes,No,225.0,150.0,95.0,28.58,65.0,103.0,Yes
4,Female,46,Tertiary Edu,Yes,23.0,No,No,No,No,285.0,130.0,84.0,23.10,85.0,85.0,No

In [12]:
df.rename(columns= {"male": "gender"}, inplace=True)

In [13]:
df.isnull().sum()

gender               0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           4240 non-null   object
 1   age              4240 non-null   int64
 2   education        4135 non-null   object
 3   currentSmoker    4240 non-null   object
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   object
 6   prevalentStroke  4240 non-null   object
 7   prevalentHyp     4240 non-null   object
 8   diabetes         4240 non-null   object
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   object
dtypes: float64(7), int64(1), object(8)
memory usage: 530.1+ KB

In [15]:
def missing_value(column_name):
    if df.dtypes[column_name] == "O":
        F= df[column_name].mode()[0]
    elif df[column_name].mean() > df[column_name].std():
        F=df[column_name].mean()
    else:
        F= df[column_name].median()

    df[column_name].fillna(F, inplace=True)

missing_value("education")
missing_value("cigsPerDay")
missing_value("BPMeds")
missing_value("totChol")
missing_value("BMI")
missing_value("heartRate")
missing_value("glucose")

In [16]:
df.isnull().sum()

gender             0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [132]:
# cigs_mean=df["cigsPerDay"].mean()

In [133]:
# cigs_std=df["cigsPerDay"].std()

In [134]:
# cigs_median=df["cigsPerDay"].median()

In [135]:
# if cigs_mean > cigs_std in df["cigsPerDay"]:
#     df["cigsPerDay"].fillna(df["cigsPerDay"].mean(), inplace=True)
# else:
#     df["cigsPerDay"].fillna(df["cigsPerDay"].median(), inplace=True)

In [108]:
# if df["cigsPerDay"].mean() > df["cigsPerDay"].std() in df["cigsPerDay"]:
#     df["cigsPerDay"].fillna(df["cigsPerDay"].mean(), inplace=True)
# else:
#     df["cigsPerDay"].fillna(df["cigsPerDay"].median(), inplace=True)

In [138]:
# if df.dtypes.BMI == "O":
#     F= df.BMI.mode()
# elif df.BMI.mean() > df.BMI.std():
#     F=df.BMI.mean()
# else:
#     F= df.BMI.median()

In [141]:
# df.BMI.fillna(F, inplace = True)