In [67]:
import pandas as pd

In [68]:
import requests

In [69]:
import yfinance as yf

In [70]:
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

In [71]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [72]:
tsla= yf.Ticker('TSLA')

In [73]:
tesla_data= tsla.history(period= 'max')

In [74]:
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [75]:
from requests.exceptions import ConnectionError

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

# Number of times to retry
retry_count = 5

for i in range(retry_count):
    try:
        # Attempt to fetch the URL
        html_data = requests.get(url)
        print("Successfully fetched the data!")
        break  # Exit the loop if successful
    except ConnectionError as e:
        print(f"Connection failed: {e}. Retrying... ({i + 1}/{retry_count})")
    except Exception as e:
        print(f"An error occurred: {e}")
        break  # Break out of the loop if a different error occurs
else:
    print("Failed to fetch the data after multiple retries.")

Successfully fetched the data!

In [76]:
soup= BeautifulSoup(html_data.content, "html.parser")

In [77]:
tesla_revenue=[]
for row in soup.find('tbody')[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text.strip()
    revenue = col[1].text.strip()
   
    tesla_revenue.append({"Date": date, "Revenue": revenue})
tesla_revenue= pd.DataFrame(tesla_revenue)

KeyError: 1

In [53]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"", regex=True)

In [54]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [55]:
tesla_revenue.tail(5)

    Date Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

In [56]:
gme= yf.Ticker("GME")

In [57]:
gme_data= gme.history(period= 'max')

In [58]:
gme_data.reset_index(inplace= True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [59]:
url2= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data_2 = requests.get(url2).text

In [60]:
soup2= BeautifulSoup(html_data_2, 'html.parser')

In [61]:
gme_revenue=[]
for row in soup2.find('tbody')[1].find_all('tr'):
    col = row.find_all("td")
    date = col[0].text.strip()
    revenue = col[1].text.strip()
   
    gme_revenue.append({"Date": date, "Revenue": revenue})
gme_revenue= pd.DataFrame(gme_revenue)

In [62]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"", regex=True)

In [63]:
gme_revenue.tail(5)

    Date Revenue
11  2009    8806
12  2008    7094
13  2007    5319
14  2006    3092
15  2005    1843

In [64]:
pio.renderers.default = 'notebook_connected'

import plotly.offline as pyo
pyo.init_notebook_mode(connected=True)

In [66]:
#def make_graph(tesla_data, tesla_revenue, stock_title):
    # Create a subplot
fig = make_subplots(rows=1, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"),
                    vertical_spacing=.3)
    
    # Correct date filtering for tesla_data and tesla_revenue
tesla_data_specific = tesla_data[tesla_data.Date <= '2021-06-14']
revenue_data_specific = tesla_revenue[tesla_revenue.Date <= '2021-04-30']
    
    # Add scatter plot for Tesla revenue (assuming you want to plot share price and revenue on one graph)
fig.add_trace(go.Scatter(x=pd.to_datetime(tesla_data_specific.Date), 
                         y=tesla_data_specific['Revenue'].astype("int"), name="TESLA REVENUE"), row=1, col=1)
    
    # Update x-axis and y-axis labels
fig.update_xaxes(title_text="Date", row=1, col=1)
fig.update_yaxes(title_text="Revenue ($US Millions)", row=1, col=1)
    
    # Update layout and title (use the passed stock_title argument)
fig.update_layout(showlegend=False, height=900,title=stock_title, xaxis_rangeslider_visible=True)
    
    # Display the plot
fig.show()

KeyError: 'Revenue'

In [40]:
fig = go.Figure(data=go.Scatter(x=[1, 2, 3], y=[4, 5, 6]))
fig.show()